<div class="span-16 last">
  <%= link_to "manage users", users_path %>
</div>
<div class="span-16 last">
  <%= link_to "manage customers", customers_path %>
</div>
<div class="span-16 last">
  <%= link_to "manage inventory", inventory_items_path %>
</div>
